
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}


    <div class="container">

        <p class="text-center mb-5 mt-5" id="kategorie">Dziękujemy!</p>
        <p class="text-center mb-5" id="kategorie">Twoje zamówienie zostało wysłane!</p>
    </div>

